.task{
  padding-block-start: 90px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.taskCreator, .taskCreatorflow{
  box-sizing: border-box;
  width: 35vw;
}
.taskCreator{
  position: fixed;
  left: 10vw;
}
.taskView{
  width: 35vw;
}
.taskBox{
  user-select: none;
  position: relative;
  margin: 20px 0;
  border: 2px solid var(--second-color);
  border-radius: 70px;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #fff;
}
.taskname-view{
  text-align: center;
  margin: 10px 0;
}
.description-view{
  margin: 15px 0;
}
label{
  display: block;
}
.taskCreator input, .taskCreator textarea{
  box-sizing: border-box;
  margin: 8px 0;
  width: 100%;
  outline: none;
  font-size: 0.85rem;
  padding: 10px;
  resize: none;
}
.taskCreator h2{
  margin-bottom: 10px;
}
.priority-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
}
button{
  display: block;
  margin: 0 auto 20px auto;
  margin-bottom: 20px;
}
.done-flag{
  display: none;
  width: 0;
  height: 0;
}
.priorities, .priority-view, .done > .done-flag, .done > .delete-flag{
  background-color: var(--second-color);
  color: #fff;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.priority-view, .done > .done-flag, .done > .delete-flag{
  position: absolute;
  right: 0;
  top: -10px;
  cursor: initial;
  width: 55px;
  height: 55px;
  padding: 0;
}
.done > .delete-flag{
  cursor: pointer;
  z-index: 1;
  top: 25%;
  right: -70px;
  background-color: #FF463C;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  animation-name: fade-right;
  animation-duration: .35s;
}
.delete-flag{
  display: none;
  width: 0;
  height: 0;
}
.done > .done-flag{
  background-color: var(--third-color);
  color: #000;
  font-weight: 900;
  left: -20px;
  top: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  animation-name: fade-in;
  animation-duration: .35s;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-right {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.active-priority{
  background-color: var(--third-color);
  color: #000;
  font-weight: 600;
  box-shadow: 5px 5px 5px #00000027;
}
.instructions{
  text-align: center;
  margin-bottom: 40px;
  color: rgb(56, 56, 56);
  font-size: .9rem;
}

@media (max-width: 755px) {
  .task{
    justify-content: center;
    align-items: center;
  }
  .taskCreator, .taskView{
    width: 85vw;
  }
  .taskCreatorflow{
    width: 0;
  }
  .taskCreator{
    position: static;
  }
}
.done-word{
  color: #4da000;
  font-weight: 600;
}
.remove-word{
  color: #e00000;
  font-weight: 600;
}
.enf{
  text-decoration: underline;
}
.done{

}