<div class="signup-informations">
  <div class="background-signup one"></div>
  <div class="background-signup two"></div>
  <div class="background-signup three"></div>
  <div class="background-signup four"></div>
  <h1>
    qTask
  </h1>
  <p>
    O melhor site de organização pessoal do Brasil.
  </p>
  <div class="advices">
    <p>
      <span class="material-symbols-outlined advice-icon">psychology</span> Crie hábitos, rotinas e planeje-se.
      <p class="advice-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore architecto, aspernatur, vero voluptate doloremque eos exercitationem aut a dicta pariatur.
      </p>
    </p>
    <p>
      <span class="material-symbols-outlined advice-icon">mood</span> Fique bem consigo mesmo, cumpra metas.
      <p class="advice-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore architecto, aspernatur, vero voluptate doloremque eos exercitationem aut a dicta pariatur.
      </p>
    </p>
    <p>
      <span class="material-symbols-outlined advice-icon">military_tech</span> Promova-se, ganhe reconhecimento social.
      <p class="advice-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore architecto, aspernatur, vero voluptate doloremque eos exercitationem aut a dicta pariatur.
      </p>
    </p>
  </div>
</div>