<nav>
  <div class="navigation">
    <div class="logo">
    </div>
    <div class="menu">
      <span class="material-symbols-outlined icon">
        person
      </span>
      <span class="material-symbols-outlined icon">
        menu
      </span>
      <ul>
        <li><a href="signin">Entrar</a></li>
        <li><a href="signup" class="try-free">Experimente</a></li>
      </ul>
    </div>
  </div>
</nav>