<nav>
  <div class="navigation">
    <div class="logo">
    </div>
    <div class="menu">
      <span class="material-symbols-outlined icon">
        person
      </span>
      <span class="material-symbols-outlined icon">
        menu
      </span>
      <ul>
        <% if(!user){ %> 
          <li>
            <a href="signin">
              Entrar
            </a>
          </li>
          <li>
            <a href="signup" class="try-free">
              Experimente
            </a>
          </li>
        <% }else{ %> 
          <li>
            <a href="/myaccount">
              Minhas tarefas
            </a>
          </li>
          <li>
            <a href="/myaccount">
              Minha conta
            </a>
          </li>
          <li>
            <a href="/logout">
              Sair
            </a>
          </li>
        <% } %> 
      </ul>
    </div>
  </div>
</nav>