<nav>
  <div class="navigation">
    <div class="logo">
      <a href="/"></a>
    </div>
    <div class="menu">
      <% if(user){ %>
        <a href="/mytasks">
          <span class="material-symbols-outlined icon">
            notes
          </span>
        </a>
        <a href="/myaccount">
          <span class="material-symbols-outlined icon">
            person
          </span>
        </a>
        <a href="/logout">
          <span class="material-symbols-outlined icon">
            logout
          </span>
        </a>
      <% } %> 
      <ul class="<% if(user) { %>removeable<% } %> ">
        <% if(!user){ %> 
          <li>
            <a href="signin">
              Entrar
            </a>
          </li>
          <li>
            <a href="signup" class="try-free">
              Experimente
            </a>
          </li>
        <% }else{ %> 
          <li class="removeable">
            <a href="/mytasks">
              Minhas tarefas
            </a>
          </li>
          <li class="removeable">
            <a href="/myaccount">
              Minha conta
            </a>
          </li>
          <li class="removeable">
            <a href="/logout">
              Sair
            </a>
          </li>
        <% } %> 
      </ul>
    </div>
  </div>
</nav>