<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="css/index.css">

<div class="landing-page">
  <header>
    <h1>Organize suas <span class="tasktext">tarefas</span> com o <span class="qtask">qTask</span></h1>
    <p>Com mais produtividade você consegue alcançar metas pessoais e profissionais, ganhando assim, uma vida mais leve e reconhecimento no âmbito profissional.</p>
    <div class="anchor">
      <a href="/mytasks" class="org">Organize-se</a>
      <span class="material-symbols-outlined arrow-forward">
        arrow_forward
        </span>
    </div>

  </header>
  <div class="image-ill">
    <img src="img/index-illustrator.png">
  </div>
</div>

<%- include('includes/footer') %> 